.gradient-border::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 50%;
      height: 2px;
      background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
      transform: translateX(-50%);
    }